.dub
*.swp
dub.selections.json
*.sublime-project
*.sublime-workspace
*.a
__dummy_docs
docs.json
__test__library__
__test__vanilla__
*-test-library
*.lib
*.obj
*.exe
*.visualdproj
*.dll
*.pdb
*.sln
*.suo
*.so
examples/just_windowing/just_windowing
.DS_Store
.lldbinit
tools/process/process
tools/process/process32
tools/dplug-build/dplug-build
tools/stress-plugin/stress-plugin
tools/wav-compare/wav-compare
builds
repro*.sh
*.sh
.vscode
.ldc2_cache/
