.dub
*.swp
dub.selections.json
*.sublime-project
*.sublime-workspace
*.a
__test__library__
__test__vanilla__
*-test-library
*.lib
*.exe
*.visualdproj
*.dll
*.sln
*.suo
*.so
examples/just_windowing/just_windowing
.DS_Store
.lldbinit
tools/process/process
tools/process/process32
tools/dplug-build/dplug-build
tools/stress-plugin/stress-plugin
tools/wav-compare/wav-compare
builds
repro*.sh
*.sh
!tests/lv2-plugin/install.sh
.vscode
