.dub
*.swp
dub.selections.json
*.sublime-project
*.sublime-workspace
*.a
__test__library__
__test__vanilla__
*.lib
*.exe
*.visualdproj
*.dll
*.sln
*.suo
*.so
examples/just_windowing/just_windowing
.DS_Store
.lldbinit
tools/process/process
tools/process/process32
tools/release/release
tools/stress-plugin/stress-plugin
tools/wav-compare/wav-compare
builds
repro*.sh
*.sh
